<div class="client-section-area section-padding">
    <img src="/assets/img/others/cpath.png" alt="" class="cpath-img aniamtion-key-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="client-text-area">
                    <span class="font-rubik font-16 weight-500 color-green lineh-16 margin-b d-inline-block" data-aos="fade-right" data-aos-duration="600">{{ entry.homeWhySubtitle }}</span>
                    <h2 class="font-40 weight-700 color-1 lineh-48 font-rubik" data-aos="fade-right" data-aos-duration="800">{{ entry.homeWhyTitle }}</h2>
                    <span class="font-20 font-rubik weight lineh-30 weight-400 color-3" data-aos="fade-right" data-aos-duration="1000">{{ entry.homeWhyText }}</span>
                    <div class="client-list" data-aos="fade-right" data-aos-duration="1000">
                        <ul>
                            <li><span class="color-green"><i class="fa-solid fa-check"></i></span>Lorem ipsum dolor</li>
                            <li><span class="color-green"><i class="fa-solid fa-check"></i></span>Lorem ipsum dolor</li>
                            <li><span class="color-green"><i class="fa-solid fa-check"></i></span>Lorem ipsum dolor</li>
                        </ul>
                    </div>
                    <div class="welget-btn space client-btn" data-aos="fade-right" data-aos-duration="1200">
                        <a href="#" class="welcome-get font-16 weight-700 font-rubik color-white">{{ 'Lorem ipsum dolor sit'|t }} </a> <span class="long-arrow color-white"><i class="fa-solid fa-arrow-right-long"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6" data-aos="zoom-out" data-aos-duration="1000">
                <img src="/assets/img/others/cpath1.png" alt="" class="cpath1-img">
                <div class="client-img">
                    <img src="{% for image in entry.homeWhyImage.all() %}{{ image.url }}{% endfor %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>