<div class="welcome-section-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="welcome-text-area">
                    <div class="welcome-heading-text">
                        <span class="font-rubik font-16 weight-500 margin-b " data-aos="fade-up" data-aos-duration="600" >{{ entry.homeHeaderSubtitle }}</span>
                        <h1 class="font-rubik font-70 weight-700 margin-b24" data-aos="fade-up" data-aos-duration="800">{{ entry.homeHeaderTitle }}</h1>
                        <p class="font-rubik font-16 weight-400" data-aos="fade-up" data-aos-duration="1000">{{ entry.homeHeaderText }}</p>
                        <div class="welget-btn" data-aos="fade-up" data-aos-duration="1200">
                            <a href="#" class="welcome-get font-16 weight-700 font-rubik color-white">{{ 'Meer informatie'|t }} </a> <span class="long-arrow color-white"><i class="fa-solid fa-arrow-right-long"></i></span>
                        </div>
                    </div>
                    <div class="compound-img aniamtion-key-3">
                        <img src="/assets/img/others/compound-img.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="zoom-out" data-aos-duration="1000">
                <div class="welcome-lite-area">
                    <div class="welcom-img">
                        <img src="/assets/img/others/complex-img.png" alt="" class="quito aniamtion-key-1">
                        <img src="{% for image in entry.homeHeaderImage.all() %}{{ image.url }}{% endfor %}" alt="" class="balb">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>