<div class="pricing-paln-section-area section-padding1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up" data-aos-duration="800">
                <div class="pricing-paln-header text-center">
                    <span class="font-rubik font-16 weight-400 color-white margin-b d-inline-block">{{ entry.homePriceSubtitle }}</span>
                    <h2 class="font-40 weight-700 font-rubik color-white">{{ entry.homePriceTitle }}</h2>
                </div>
            </div>

            {% for priceTable in entry.homePriceTables.all() %}
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="{% if loop.index == 0 %}800{% elseif loop.index == 1 %}1000{% else %}1200{% endif %}">
                    <div class="pricing-card">
                        <div class="pricing-plan-cards">
                            <p class="font-20 font-rubik weight-500 lineh-24 margin-b24">{{ priceTable.title }}</p>
                            <h2 class="font-56 font-rubik weight-700 lineh-56 margin-b font-size-change">€{{ priceTable.priceTablePrice }} <span class="font-rubik font-18 weight-700 ">{{ '/per maand'|t }}</span></h2>
                            <p class="font-rubik weight-400 font-20 lineh-30 color-3 margin-b32">{{ priceTable.priceTableText }}</p>
                            <div class="plans-list">
                                <ul class="plans-card font-rubik font-16 lineh-16 weight-700">
                                    {% for item in priceTable.priceTableList.all() %}
                                        <li><span><i class="fa-solid fa-check"></i></span>{{ item.title }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="welget-btn space blus-btn">
                                <a href="#" class="welcome-get font-16 weight-700 font-rubik color-1">{{ 'Plan aanvragen'|t }} </a> <span class="long-arrow"><i class="fa-solid fa-arrow-right-long"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>